<div class="container-fluid">
	<h1>PICAS Y FIJAS</h1>
	Usuario: {{data.user_name}}
	<hr>
	<div class="row">
		<div class="col-xs-9 col-sm-10">
			<div class="form-group">
		    <label class="sr-only" for="secret_number">Número secreto</label>
		    <div class="input-group">
		      <div class="input-group-addon">Número</div>
		      <input type="text" class="form-control" id="secret_number" ng-model="secret_number" placeholder="" disabled>
		      <!--<div class="input-group-addon">.00</div>-->
		    </div>
		  </div>		
		</div>
		<div class="col-xs-3 col-sm-2">
			<button type="submit" class="btn btn-primary" ng-click="number_secret_view('show')" ng-show="!number_secret_button">
		  	<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
		  </button>
		  <button type="submit" class="btn btn-primary" ng-click="number_secret_view('hide')" ng-show="number_secret_button">
		  	<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
		  </button>				
		</div>
	</div>

	<form class="form-horizontal">
	  <div class="form-group">
	    <div class="col-sm-12">
	      <input type="text" class="form-control" ng-model="data.compare" placeholder="Ingrese 4 digitos diferentes"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-8">
	      <button type="submit" ng-click="start_compare()" class="btn btn-default">Comparar</button>
	      <button type="submit" ng-click="start_game()" class="btn btn-default">Juego Nuevo</button>
	    </div>
	  </div>
	</form>

	<ul class="list-group">
	  <li ng-repeat="value in attempts" class="list-group-item" ng-bind="value"></li>
	</ul>

</div>

