<div class="container-fluid">
	<h1>PICAS Y FIJAS</h1>

	<form class="form-horizontal">
	  <div class="form-group">
	    <div class="col-sm-12">
	      <input type="text" class="form-control" ng-model="data.user_name" placeholder="Nombre de usuario"/>
	    </div>
	  </div>
	  <div class="alert alert-danger" role="alert" ng-show="alerts['user'].status && data.user_name === ''" ng-bind="alerts['user'].message" ></div>
	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-8">
	      <!--<button type="submit" class="btn btn-default">Instrucciones</button>-->
	      <button type="submit" ng-click="start_game()" class="btn btn-default">Juego Nuevo</button>
	    </div>
	  </div>
	</form>
</div>

